<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <h1>Home Page - REST Server Emulator</h1>
    <section id="id-get-house-codes-section">
      <h2>GET /api/house-codes</h2>
      <form action="/api/house-codes">
	<input type="submit" value="Submit" />
      </form>
    </section>

    <section id="id-post-house-codes-section">
      <h2>POST /api/house-codes</h2>
      <form action="/api/house-codes" method="GET"> {% csrf_token %}
	<textarea id="id-house-codes-input" name="house-codes"></textarea>
	<input type="submit" value="Submit" />
      </form>
    </section>
  </body>
</html>
