<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    {% load staticfiles %}
    <script src="{% static "jquery/jquery-1.11.3.min.js" %}"></script>
  </head>
  <body>
    <h1>Home Page - Open REST Server (Version 0.2)</h1>

    <a href="rev2-emulator">REV2 Emulator</a>
    
    <section id="id-get-house-codes-section">
      <h2>GET /api/house-codes</h2>
      <form action="/api/house-codes">
	<input type="submit" value="Submit" />
      </form>
    </section>

    <section id="id-post-house-codes-section">
      <h2>POST /api/house-codes</h2>
      <form action="/api/house-codes" method="POST"> {% csrf_token %}
	<input type="text" id="id-house-codes-input" name="house-codes"></textarea>
	<input type="submit" value="Submit" />
      </form>
    </section>

    <section id="id-valve-section">
      <h2>POST /api/valve/<code>&lthouse-code&gt</code></h2>
      <form action="/valve/house-code" method="POST"> {% csrf_token %}
	<table>
	  {{ valve_form }}
	  <tr><td></td><td>
	    <input type="submit" value="Submit" />
	  </td></tr>
	</table>
      </form>
    </section>

    <section id="id-debug-section">
      <h2>/api/debug/&lthouse code&gt</h2>
      <form id="id-debug-form">
	<table>
	  <tr>
	    <td><label for="id-house-code-input">House Code:</label></td>
	    <td><input id="id-house-code-input" /></td>
	    <td><input type="submit" value="Submit" /></td>
	  </tr>
	</table>
      </form>
    </section>

    <section id="id-led-section">
      <h2>POST /api/led/<code>&lthouse-code&gt</code></h2>
      <form id="id-led-form" method="post"> {% csrf_token %}
	<table>
	  <tr>
	    <td><label for="id-house-code-input">House Code:</label></td>
	    <td><input id="id-house-code-input" name="house-code" /></td>
	  </tr>
	  <tr>
	    <td><label for="id-colour-input">Colour Input:</label></td>
	    <td><input id="id-colour-input" name="colour"/></td>
	  </tr>
	  <tr>
	    <td><label for="id-state-input">State Input:</label></td>
	    <td><input id="id-state-input" name="state" /></td>
	  </tr>
	  <tr>
	    <td><label for="id-repeat-interval">Repeat Interval:</label></td>
	    <td><input id="id-repeat-interval-input" name="repeat-interval" /></td>
	  </tr>
	  <tr>
	    <td></td>
	    <td><input type="submit" value="Submit" /></td>
	  </tr>
	</table>
      </form>
    </section>

    <section id="id-status-section">
      <h2>POST /api/status/<code>&lthouse-code&gt</code></h2>
      <form  method="GET">
	<table>
	  <tr><td><label for="id-house-code-input">House Code:</td><td><input id="id-house-code-input" type="text" /></td></tr>
	  <tr><td></td><td><input type="submit" value="Submit" /></td></tr>
	</table>
      </form>
    </section>

    <script src="{% static "ors/home.js" %}"></script>

  </body>
</html>
