<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    {% load staticfiles %}
    <script src="{% static "jquery/jquery-1.11.3.min.js" %}"></script>
  </head>
  <body>
    <h1>Home Page - Open REST Server</h1>
    <section id="id-get-house-codes-section">
      <h2>GET /api/house-codes</h2>
      <form action="/api/house-codes">
	<input type="submit" value="Submit" />
      </form>
    </section>

    <section id="id-post-house-codes-section">
      <h2>POST /api/house-codes</h2>
      <form action="/api/house-codes" method="POST"> {% csrf_token %}
	<input type="text" id="id-house-codes-input" name="house-codes"></textarea>
	<input type="submit" value="Submit" />
      </form>
    </section>

    <section id="id-valve-section">
      <h2>POST /api/valve/<code>&lthouse-code&gt</code></h2>
      <form action="/valve/house-code" method="POST"> {% csrf_token %}
	<table>
	  {{ valve_form }}
	  <tr><td></td><td>
	    <input type="submit" value="Submit" />
	  </td></tr>
	</table>
      </form>
    </section>

    <section id="id-debug-post-section">
      <h2>POST /api/debug</h2>
      <form action="/api/debug" method="POST"> {% csrf_token %}
	<table>
	  <tr><td><label for="id-state-input">State:</label></td><td><input id="id-state-input" type="text" name="state" /></td></tr>
	  <tr><td></td><td><input type="submit" value="Submit" /></td></tr>
	</table>
      </form>
    </section>

    <section id="id-debug-get-section">
      <h2>GET /api/debug</h2>
      <form action="/api/debug" method="GET">
	<table>
	  <tr><td><input type="submit" value="Submit" /></td></tr>
	</table>
      </form>
    </section>

    <section id="id-led-section">
      <h2>POST /api/led/<code>&lthouse-code&gt</code></h2>
      <form action="/led/house-code" method="POST"> {% csrf_token %}
	<table>
	  <tr><td><label for="id-house-code-input">House Code:</label></td><td><input id="id-house-code-input" type="text" name="house-code" /></td></tr>
	  <tr><td><label for="id-colour-input">Colour:</label></td><td><input id="id-colour-input" type="text"  name="colour" /></td></tr>
	  <tr><td><label for="id-flash-input">Flash:</label></td><td><input id="id-flash-input" type="text"  name="flash" /></td></tr>
	  <tr><td></td><td><input type="submit" value="Submit" /></td></tr>
	</table>
      </form>
    </section>

    <section id="id-status-section">
      <h2>POST /api/status/<code>&lthouse-code&gt</code></h2>
      <form  method="GET">
	<table>
	  <tr><td><label for="id-house-code-input">House Code:</td><td><input id="id-house-code-input" type="text" /></td></tr>
	  <tr><td></td><td><input type="submit" value="Submit" /></td></tr>
	</table>
      </form>
    </section>

    <script src="{% static "ors/home.js" %}"></script>

  </body>
</html>
