<!DOCTYPE html>
<html lang="en-GB">
  <header>
    <title>REV2 Emulator</title>
    {% load staticfiles %}
    <script src="{% static "jquery/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "base.js" %}"></script>
    <script src="{% static "rev2_emulator/home.js" %}"></script>
  </header>
  <body>
    <h1>REV2 Emulator</h1>

    <h2>Background Polling</h2>
    <p>When you post a new set of house codes a background process will start that will update those house codes every {{ POLLING_FREQUENCY.seconds }} seconds. Since there are no physical sensors connected to the emulator it uses random numbers which are within the allowed value range. Furthermore only the following house codes will work, {{ ALLOWED_HOUSECODES }}. Using a code not in this list corresponds to trying to poll a sensor that is not recognised, in this case a timeout exception will be raised.</p>
    <form action="stop-bg-polling" method="post">
      <input id="id_stop_bg_polling" type="submit" value="Stop BG Polling">
    </form>
    
    <table>
      <tr>
	<td><label for="">House Code:</td>
	<td><input id="id-house-code-input" type='text' /></td>
	<td></td>
      </tr>

      <tr>
	<form id="id-relative-humidity-form">
	  <td><label for="">Relative Humidity:</td>
	  <td><input id="id-relative-humidity-input" type="text" name="relative-humidity" /></td>
	  <td><input type="submit" value="Send" /></td>
	</form>
      </tr>

      <tr>
	<form id="id-temperature-opentrv-form">
	  <td><label for="">Temperature OpenTRV:</label>
	  <td><input id="id-temperature-opentrv-input" type="text" name="temperature-opentrv"  /></td>
	  <td><input type="submit" value="Send" /></td>
	</form>
      </tr>

      <tr>
	<form id="id-temperature-ds18b20-form">
	  <td><label for="">Temperature DS18B20:</label></td>
	  <td><input id="id-temperature-ds18b20-input" type="text" name="temperature-ds18b20"  /></td>
	  <td><input type="submit" value="Send" /></td>
	</form>
      </tr>

      <tr>
	<form id="id-window-form">
	  <td><label for="">Window:</label></td>
	  <td><input id="id-window-input" type="text" name="window" /></td>
	  <td><input type="submit" value="Send" /></td>
	</form>
      </tr>

      <tr>
	<form id="id-switch-form">
	  <td><label for="">Switch:</label></td>
	  <td><input id="id-switch-input" type="text" name="switch" /></td>
	  <td><input type="submit" value="Send" /></td>
	</form>
      </tr>

      <tr>
	<form id="id-last-updated-all-form">
	  <td><label for="">Last Updated All:</label></td>
	  <td><input id="id-last-updated-all-input" type="text" name="last-updated-all"  /></td>
	  <td><input type="submit" value="Send" /></td>
	</form>
      </tr>

      <tr>
	<form id="id-last-updated-temperature-form">
	  <td><label for="">Last Updated Temperature:</label></td>
	  <td><input id="id-last-updated-temperature-input" type="text" name="last-updated-temperature"  /></td>
	  <td><input type="submit" value="Send" /></td>
	</form>
      </tr>

      <tr>
	<form id="id-synchronising-form">
	  <td><label for="">Synchronising:</label></td>
	  <td><input id="id-synchronising-input" type="text" name="synchronising" /></td>
	  <td><input type="submit" value="Send" /></td>
	</form>
      </tr>

      <tr>
	<form id="id-ambient-light-form">
	  <td><label for="">Ambient Light:</label>
	  <td><input id="id-ambient-light-input" type="text" name="ambient-light"  /></td>
	  <td><input type="submit" value="Send" /></td>
	</form>
      </tr>

      <tr>
	<form id="id-get-cached-contents-interval-form">
	  <td><label for="">Get Cached Contents Interval</label></td>
	  <td><input id="id-get-cached-contents-interval-input" type="number" min="0" max="10" name="get-cached-contetns-interval" value="4"  /></td>
	  <td><input type="submit" value="Submit" /></td>
	</form>
      </tr>
    </table>

    <section id="id-response-section">
      <h2>Response</h2>
      <code id="id-response-code"></code>
    </section>
    
    <h2>Cache</h2>
    <code id="id-cache"></code>
      
  </body>
</html>
