<!DOCTYPE html>
<html lang="en-GB">
  <header>
    <title>REV2 Emulator</title>
    {% load staticfiles %}
    <script src="{% static "jquery/jquery-1.11.3.min.js" %}"></script>
  </header>
  <body>
    <h1>REV2 Emulator</h1>
    <!-- <form action="/rev2-emulator/" method="POST"> {% csrf_token %} -->
      <table>
	<tr>
	  <td><label for="id-house-code-input">House Code:</label></td>
	  <td><input id="id-house-code-input" name="house-code" type="text" value="FA-32"/></td>
	  <td></td>
	</tr>
	<tr>
	  <td><label for="id-house-code-input">Room Temp:</label></td>
	  <td><input id="id-room-temp-input" name="room-temp" type="text" value="20" /></td>
	  <td><button id="id-room-temp-send-button">Send</button></td>
	</tr>
	
	<tr>
	  <td><label for="id-ds18b20-temp-input">DS18B20 Temp:</label></td>
	  <td><input id="id-ds18b20-temp-input" name="ds18b20-temp" type="text" value="20" /></td>
	  <td><button id="id-ds18b20-temp-send-button">Send</button></td>
	</tr>
	
	<tr>
	  <td><label for="id-button-input">Button:</label></td>
	  <td><input id="id-button-input" name="button" type="checkbox" /></td>
	  <td><button id="id-button-send-button">Send</button></td>
	</tr>
	
	<tr>
	  <td><label for="id-led-input">LED:</label></td>
	  <td><input id="id-led-input" name="led" type="number" min="0" max="3" value="0"/></td>
	  <td><button id="id-led-send-button">Send</button></td>
	</tr>
	
	<tr>
	  <td><label for="id-synchronising-input">Synchronising:</label></td>
	  <td><input id="id-synchronising-input" name="synchronising" type="checkbox" /></td>
	  <td><button id="id-synchronising-send-button">Send</button></td>
	</tr>
	
	<tr>
	  <td><label for="id-relative-humidity-input">Relative Humidity:</label></td>
	  <td><input id="id-relative-humidity-input" name="relative-humidity" type="number" min="0" max="100" value="50" /></td>
	  <td><button id="id-relative-humidity-send-button">Send</button></td>
	</tr>
	
	<tr>
	  <td><label for="id-window-input">Window (checked: open):</label></td>
	  <td><input id="id-window-input" name="window" type="checkbox" /></td>
	  <td><button id="id-window-send-button">Send</button></td>
	</tr>
	
	<tr>
	  <td><label for="id-last-updated-input">Last Updated:</label></td>
	  <td><input id="id-last-updated-input" name="last-updated" type="datetime" value="2015-07-17T10:30:16" /></td>
	  <td><button id="id-last-updated-send-button">Send</button></td>
	</tr>

	<tr>
	  <td><label for="id-last-updated-temperatures-input">Last Updated Temperatures:</label></td>
	  <td><input id="id-last-updated-temperatures-input" name="last-updated-temperatures" type="datetime" value="2015-07-17T10:30:16"/></td>
	  <td><button id="id-last-updated-temperatures-send-button">Send</button></td>
	</tr>
	
	<tr>
	  <td><label for="id-get-cached-contents-interval-input">Get Cached Contents Interval:</label></td>
	  <td><input id="id-get-cached-contents-interval-input" name="get-cached-contents-interval" type="number" min="0" max="10" value="4" required /></td>
	  <td><button id="id-get-cached-contents-interval-send-button">Send</button></td>
	</tr>
	
      </table>

    <p><i>Note dates are ISO 8601 format, e.g. 2015-07-17T10:30:16Z</i></p>
    <p><b>Warning: Currently there is no form validation, open the javascript console to see when form submissions error occur</b></p>

    <h2>Cache</h2>
    <p><button id="id-show-cache-now">Freeze cache view</button></p>
    <code></code>
    
    <script src="{% static "rev2_emulator/home.js" %}"></script>
      
  </body>
</html>
    
